html, body {
	height: 100%;
}

.display-table {
	display: table;
	width: 100%;
	padding: 0;
	height: calc(100% - 150px);
}
.display-table-row {
	display: table-row;
	height: 100%;
}
.display-table-cell {
	display: table-cell;
	float: none;
	vertical-align: top;
	height: 100%;
}

form,
.org-head-list-table{
	margin-bottom: 48px;
}
.tab-content {
	padding: 24px 0;
}
.panel {
	margin-bottom: 48px;
}

.canvasjs-chart-credit {
	display: none !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 4px;
}