/* Variables */
$body-font-family: 'Kalpurush', 'Hind Siliguri', "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-size: 16px;

/* Colors */
$side-menu-bg: #eceff1   ; //#f3f3f3;
$side-menu-item-hover-bg: #1ab394;
$slide-out-div-bg: #ccc;

$primary-color: #009688;

$tab-bg: #ededed;