@import 'typography';
@import 'general';
@import 'form';
@import 'header';
@import 'sidemenu';
@import 'footer';
@import 'buttons';
@import 'emp-list';
@import 'dataTables';
@import 'welcome';
@import 'tab';
@import 'login.scss';
@import 'tracking';
@import 'tabSlideOut';