.footer {
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;

	@media(max-width: 768px) {
		.tech-help p {
			float: none !important;
		}
	}

	.update {
		text-align: center;
		@media(max-width: 768px) {
			text-align: left;
		}
	}

	.breadcrumb {
		text-align: center;
		@media(max-width: 768px) {
			text-align: left;
		}
	}
}